.page {
  background-color: white;
}

body {
  padding: 0;
  margin: 0;
}

.head {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 10;
  background-color: #F7F7F7;
  border-bottom: 2px solid #C0C0C0;
  box-shadow: 5px 5px 35px #FFC26F, -5px -5px 35px #debfbf;
}


.head>img {
 
  /* margin-left: 80px; */
  cursor: pointer;
  width: 100px;
  /* height: 95px; */
  transition: all 0.3s ease-in-out 0s;
  object-fit:contain;
}

.head>.fotostali-img {
  cursor: pointer;
  width: 70px;
}

.eng-rom-div {
  margin-top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: -61px;
  height: 50px;
}

.languages{
  height: 100%;
  font-family: sans-serif;
  font-weight: bold;
}

.headSelect{
  margin-left: 10px;
  height: 30px;
  width: 100px;
  border: none;
  transform: scale(1);
  font-family: sans-serif;
  font-weight: bold;
}

.headSelect:hover{
  transform: scale(1.2);
}

.country{
  /* margin-left: 10px; */
  height: 30px;
}

.hspace{
  width : 80px
}

.head>img:hover {
  transform: scale(1.3);
}




.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin-top: -10px;
}

form {
  /* width: 500px; */
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form>label>input {
  background-color: #435B66;
  color: white;
  /* border: none; */
  border: 2px solid gray;
  height: 40px;
  width: 350px;
  margin-left: 10px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 5px;
}

form>button {
  height: 30px;
  width: 100px;
  background-color: rgb(0, 119, 181);
  border-radius: 3px;
  border: none;
  color: white;
}

form>button:hover {
  cursor: pointer;
  animation: wiggle 100ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translate(0.7px, 0);
  }

  50% {
    transform: translate(-0.7px, 0);
  }

  100% {
    transform: translate(0.7px, 0);
  }
}

.littleSpace {
  margin-top: 10px;
}


.mid-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emailSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.subscribe {
  height: 50px;
  width: 150px;
  background-color: rgb(0, 119, 181);
  border-radius: 10px;
  text-align: center;
  border: none;
  color: white;
}

.subscribe:hover {
  cursor: pointer;
  animation: wiggle 100ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translate(0.7px, 0);
  }

  50% {
    transform: translate(-0.7px, 0);
  }

  100% {
    transform: translate(0.7px, 0);
  }
}

.category{
  margin-top: 90px;
  /* padding-top: 50px; */
  padding-top: 23px;
  width: 550px;
  height: 550px;
  background-color: white;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.outerImage {
  width: 100%;
  height: 100%;
}

.innerImage{
  height: 500px;
  width: 500px;
  /* max-width: 100%; */
  /* height: auto; */
  object-fit: contain;
}

.number{
  margin-top: -5px;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}

.currNumber{
  transform: scale(1.3);
}

.number:hover{
  transform: scale(1.6);
}



.bottomContainer{
  margin-top: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}



.btn{
  font-weight: bolder;
  font-size: 40px;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.6);
}


.rspace{
  width: 20px;
}


.input {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: pulse 5s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}


.overlap {
  display: flex;
  align-items: center;
  justify-content: center;
}




.title {
  height: 100px;
  font-size: 40px;
  font-weight: bold;
}

.inputArea {
  padding: 5px;
  font-size: 16px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F7F7F7;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fspace{
  width: 25px;
}

.telegram {
  color: rgb(49, 168, 224);
}

.telegram:hover {
  color: rgb(49, 168, 224);
}

.linkedin {
  color: rgb(0, 119, 181);
}

.facebook {
  color: rgb(72, 103, 170);
}

.instagram {
  color: #F60866;
}

.icons {
  cursor: pointer;
  transform: scale(1.0);
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* box-shadow: 0 0 0 0 rgba(#090a0a, .5); */
  font-size: 2.5rem;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.icons:hover {
  transform: scale(1.5);
  animation: rotate-btn 2s linear 1;
  -webkit-animation: rotate-btn 0.5s linear 0.4;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.spaceBtwFooterAndMain {
  height: 100px;
}


/* left arrow and right arrow  */
.arrowAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-left: -20px;
  width: 10px;
  height: 10px;
  border: 5px solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
}

.arrowr {
  cursor: pointer;
  /* margin-left: -30px; */
  margin-top: -10px;
  width: 10px;
  height: 10px;
  border: 5px solid;
  border-color: black transparent transparent black;
  transform: rotate(130deg);
}




.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.arrowSlidingR {
  position: absolute;
  -webkit-animation: slideR 4s linear infinite; 
          animation: slideR 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(50px); }	
   20% { opacity:1; transform: translateX(0px); }	
   80% { opacity:1; transform: translateX(-50px); }	
  100% { opacity:0; transform: translateX(-100px); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateX(10px); }	
   20% { opacity:1; transform: translateX(-20px); }	
   80% { opacity:1; transform: translateX(-50px); }	
  100% { opacity:0; transform: translateX(-80px); }	
}

@-webkit-keyframes slideR {
  0% { opacity:0; transform: translateX(-100px); }	
 20% { opacity:1; transform: translateX(-50px); }	
 80% { opacity:1; transform: translateX(0px); }	
100% { opacity:0; transform: translateX(50px); }	
}
@keyframes slideR {
  0% { opacity:0; transform: translateX(10px); }	
 20% { opacity:1; transform: translateX(30px); }	
 80% { opacity:1; transform: translateX(60px); }	
100% { opacity:0; transform: translateX(90px); }	
}


@media screen and (min-width : 1500px){
  .category{
    width: 1100px;
    height: 500px;
  }
  
  .container{
    width: 1100px;
  }
  
  .container>img{
    height: 445px;
    width: 606px;
  }
  
  .desc {
    
    height: 405px;
    width: 470px;
  }
  
  
  
  .number{
    font-size: 15px;    
  }
  
  .currNumber{
    transform: scale(1.3);
  }
  
  .btn{
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
  }
  
  
  .rspace{
    width: 20px;
  }
  
}



@media screen and (max-width: 1000px) {
  .head>img {
    width: 90px;
  }

  .main {
    margin-top: 12px;
  }

  .category{
    width: 700px;
    height: 500px;
  }
  
  .container{
    width: 700px;
  }
  
  .innerImage{
    height: 445px;
    width: 350px;
  }
  
  .desc {
    
    height: 405px;
    width: 350px;
  }
  
  
  
  .number{
    font-size: 15px;    
  }
  
  .currNumber{
    transform: scale(1.3);
  }
  
  .btn{
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
  }
  
  
  .rspace{
    width: 20px;
  }
  
 

  .input {
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .title {
    height: 90px;
    font-size: 38px;
    font-weight: bold;
  }

  .inputArea {
    padding: 5px;
    font-size: 16px;
  }

}




@media screen and (max-width: 780px) {
  .main {
    padding: 50px;
  }

  .head>img {
    width: 90px;
  }

  .main {
    margin-top: 12px;
  }
  
  .category{
    width: 580px;
    height: 500px;
  }
  
  .container{
    width: 580px;
  }
  
  .innerImage{
    height: 445px;
    width: 290px;
  }
  
  .desc {
    
    height: 405px;
    width: 290px;
  }
  
  
  
  .number{
    font-size: 15px;    
  }
  
  .currNumber{
    transform: scale(1.3);
  }
  
  .btn{
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
  }

 


  .input {
    height: 330px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .title {
    height: 85px;

    font-size: 34px;
    font-weight: bold;
  }

  .inputArea {
    padding: 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .head {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    overflow: hidden;
    background-color: #ceebdf;
    width: 100%;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .hspace{
    width : 10px
  }
  

  .head>.floating {
    cursor: pointer;
    width: 70px;
  }

  .head>select{
    /* width: 40px; */
    margin-left: -4px;
  }

  .main {
    padding: 15px;
    margin-top: 80px;
  }


  form>label>input {
    height: 30px;
    width: 240px;
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 3px;
  }

  form>button {
    height: 20px;
    width: 70px;
    background-color: rgb(0, 119, 181);
    border-radius: 2px;
    border: none;
    color: white;
  }




  .container {
    padding: 10px;
    margin-top: 50px;
    width: 330px;
    
    height: 450px;
  }

  .innerImage {
    width: 300px;
    height: 300px;
  }

  .desc {
    /* margin-left: 10px; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }


  .category{
    /* margin-top: 90px; */
    /* padding-top: 50px; */
    padding-top: 23px;
    width: 330px;
    height: 740px;
    background: #fafafa; 
  }
  
  .container{
    margin-top: -33px;
    margin-left: -10px;
    width: 330px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .innerImage {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 350px;
    width: 330px;
    max-height: 330px;
    /* height: auto; */
  }

  
  .desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 400px;
    width: 288px;
    background-color: white;
    color: black;
    /* margin-left: 20px; */
    padding : 20px;
    font-family: sans-serif;
    display: flex;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  .number{
    margin-top: -5px;
    font-weight: bolder;
    font-size: 15px;
    /* border: 1px solid black; */
    cursor: pointer;
  }
  
  .currNumber{
    transform: scale(1.3);
  }
  
  .btn{
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
  }
  
  
  .rspace{
    width: 20px;
  }

  


  .input {
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 

  .bottomContainer{
    margin-top: 1px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .title {
    height: 90px;
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputArea {
    padding: 5px;
    height: 410px;
    font-size: 16px;
  }


  .emailSpace {
    margin-top: 35px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .subscribe {
    height: 50px;
    width: 150px;
    background-color: rgb(0, 119, 181);
    border-radius: 10px;
    text-align: center;
    border: none;
    color: white;
  }


  /* footer  */
  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    background-color: #ceebdf;
    margin-top: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
  }

  .fspace{
    width: 15px;
  }


  .icons {
    cursor: pointer;
    font-size: 40px;
    transform: scale(1);
    /* box-shadow: 0 0 0 0 rgba(#090a0a, .5); */
  }


  .spaceBtwFooterAndMain {
    height: 100px;
  }


  .icons:hover {
    transform: scale(1.5);
  }


}